nav{
    background-color: slategray;
    color:white;
    text-align: center;
    
}

nav p{
    padding-top: 10px;
    padding-bottom: 10px;
    size: 20px;
}

main{
    margin-top: 50px;
}
table{
    background-color: slategray;
}
table tr th{
    background-color: rgb(41, 114, 114);
}